/* =============
    About
============= */
#about {
    div {
        @include xl {
            display: grid;
            grid-gap: 5%;
            grid-template-columns: 50% 40%;
            margin-bottom: 20px;
        }

        section:nth-child(1) {
            text-align: center;
            @include xl {
                margin-top: 160px;
            }

            h3 {
                font-weight: 300;
                @include sm {
                    font-size: rem-calc(26);
                }
                @include md {
                    font-size: rem-calc(30);
                }
                @include lg {
                    font-size: rem-calc(36);
                }
                @include xl {
                    font-size: rem-calc(40);
                }
            }

            h2 {
                color: $accent;
                font-size: rem-calc(26);
                margin-top: 8px;
                @include sm {
                    font-size: rem-calc(36);
                }
                @include md {
                    font-size: rem-calc(46);
                }
                @include lg {
                    font-size: rem-calc(56);
                }
                @include xl {
                    font-size: rem-calc(66);
                }
            }
        }

        section:nth-child(2) {
            @include md {
                padding: 0 70px;
            }
            @include lg {
                display: grid;
                grid-template-areas: ". left . right .";
                grid-template-columns: auto 5fr 1fr 5fr auto;
                padding: 0;
            }
            @include xl {
                grid-template-areas: "left" "right";
                grid-template-columns: auto;
            }

            article {
                margin-top: 30px;

                h4 {
                    color: $accent;
                    font-size: rem-calc(20);
                    font-weight: 500;
                    @include sm {
                        font-size: rem-calc(22);
                    }
                    @include md {
                        font-size: rem-calc(26);
                    }
                    @include xl {
                        font-size: rem-calc(30);
                    }

                    &::before {
                        content: url("../img/about/light.jpg");
                        display: inline-block;
                        margin-right: 5px;
                        transform: scale(.6);
                        vertical-align: middle;
                        @include sm {
                            transform: scale(.65);
                        }
                        @include md {
                            transform: scale(.7);
                        }
                        @include xl {
                            margin-right: 10px;
                            transform: scale(.8);
                        }
                    }
                }

                p {
                    font-weight: 300;
                    line-height: rem-calc(30);
                    @include sm {
                        font-size: rem-calc(18);
                    }
                    @include md {
                        font-size: rem-calc(20);
                        line-height: rem-calc(36);
                    }
                    @include xl {
                        font-size: rem-calc(24);
                        line-height: rem-calc(42);
                    }
                }
            }

            article:nth-child(1) {
                grid-area: left;
            }

            article:nth-child(2) {
                grid-area: right;

                h4 {
                    &::before {
                        content: url("../img/about/chart.jpg");
                    }
                }
            }
        }
    }
}
