/* =============
    Footer
============= */
footer {
    background-color: $accent;
    padding: 20px;
    text-align: center;
    @include sm{
        font-size: rem-calc(20);
    }
    @include md{
        font-size: rem-calc(22);
    }
    @include lg{
        font-size: rem-calc(24);
    }
    
    h3 {
        a:link,
        a:visited{
            color: $white;
        }
        a:hover,
        a:active{
            border-bottom: 1px solid $white;

        }
    }

    ul {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        li {
            margin-right: 15px;

            a:link,
            a:visited {
                i {
                    color: $black;
                }
            }
        }
    }
}
