/* =============
    Header
============= */
header {
    display: grid;
    grid-template-areas: "logo burger" "nav nav";
    grid-template-columns: 70% auto;
    position: fixed;
    width: 100%;
    background-color: $white;
    top:0;
    @include lg {
        grid-template-areas: "logo nav";
        grid-template-columns: 30% auto;
    }

    // logo
    section:nth-child(1) {
        grid-area: logo;
        padding: 10px;
        h1{
            span{
                color:$accent;
            }
        }
    }
    // burger
    section:nth-child(2) {
        align-items: center;
        display: flex;
        grid-area: burger;
        justify-content: flex-end;
        padding: 10px;

        @include lg {
            display: none;
        }

        a{
            padding-right: 5px;

            i{
                color: $black;
            }
        }

        button {
            background-color: $white;
            border: none;
            outline: none;
        }
    }
    // nav container
    nav {
        display: none;
        grid-area: nav;
        @include lg {
            display: block !important;
        }
    }
}
