/* =============
    Navigation
============= */
nav {
    background-color: $accent;
    padding: 10px;
    @include lg {
        background-color: $white;
    }

    ul {
        text-align: right;
        @include lg {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: flex-end;
        }



        li {
            margin-bottom: 15px;
            @include lg {
                margin-bottom: 0;
                margin-left: 20px;
            }

            a:link,
            a:visited {
                color: $white;
                display: inline-block;
                border-bottom: 1px solid $accent;

                @include lg {
                    color: $black;
                    border-bottom: none;
                }
            }
            a:active,
            a:hover  {
                border-bottom: 1px solid $white;
                @include lg {
                    color: $accent;
                    border-bottom: 1px solid $accent;
                }
            }
        }

        li:last-child {
            display: none;
            @include lg {
                display: block !important;
            }
        }

        li:nth-last-child(2) {
            margin-bottom: 0;
        }
    }
}
