/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 500px;

// Small tablets
$screen-md-min: 600px;

// Large tablets and small desktops
$screen-lg-min: 900px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$accent: #01C2D3;
